.backgroundIMG{
  height: 100vh;
  width: 100vw;
}

.login-card{
  position: relative;
  top: -75vh;
  left: 41vw;
  background-color: white;
  border-radius: 10px;
  width: 17.5vw;
  height: 20vw;
}

.card-title{
  font-size: 2vw;
  text-align: center;
}

.content{
  align-content: center;
  text-align: center;
}

.inputLine{
  width: 65%;
  height: 2vw;
  margin-top: .65vw;
  border-radius: 5px;
  border-width: .1vw;
}

.Go-Button{
  width: 25%;
  height: 1.5vw;
  margin-top: 1vw;
  background-color: rgb(100, 210, 147);
}
.SignUp-Button{
  width: 25%;
  height: 1.5vw;
  margin-top: 1vw;
  background-color: rgb(242, 184, 97);
}
.Back{
  width: 25%;
  height: 1.5vw;
  margin-top: 1vw;
  background-color: rgb(184, 184, 184);
}
.Submit{
  width: 25%;
  height: 1.5vw;
  margin-top: 1vw;
  background-color: rgb(100, 210, 147);
}

.errorMessage{
  font-size: .8vw;
  color: red;
}

.userTitle{
  position: relative;
  top: -95vh;
  left: 25vw;
  width: 50vw;
  height: 3.5vw;
  text-align: center;
  font-size: 2.5vw;
}